body
{
background-color:#cccccc;
background-image:url('background1.gif');
background-repeat:no-repeat;
background-size:100%;
color:red;
text-align:center;
}
div
{
display: none;
text-shadow:2px 2px 2px #000000;
}
